:root {
  // custom css var
}

// 这里覆盖 vant 相关样式变量
// docs see https://vant-ui.github.io/vant/#/zh-CN/config-provider
:root:root {
  --van-primary-color: #1bb295;
  --van-primary-color: #7f5d17;
  --hor-primary-color-2: #f4fafa;
  --van-nav-bar-icon-color: #333;
  --van-back-top-background: var(--van-primary-color);
  --van-card-background: #fff;

  --hor-cell-value-color: #1d2129;
}
